body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  position: relative;
  top: 0;
  background-color: #33527a;
  height: 60px;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header span {
  margin: auto 5px;
  font-size: 1.7rem;
}

#header span a {
  text-decoration: none;
  color: rgb(224, 134, 134);
}

#header span a:hover {
  text-decoration: underline;
  color: rgb(224, 49, 49);
}

#sorting-panel {
  width: 100%;
  background-color: #dddddd;
  padding: 30px;
  justify-content: center !important;
  display: flex !important;
  padding: 30px 0;
}

#sort-container {
  height: 420px;
  width: auto;
  display: flex;
  align-items: flex-end;
}

.bars {
  width: 10px;
  margin-right: 1px;
  background-color: #2d748a;
}

#label {
  color: white;
}

#list {
  height: 50px;
}

.buttons {
  margin: 10px auto;
  align-content: center;
  /* margin: auto; */
  text-align: center;
}

button {
  border-radius: 7px;
  color: white;
  font-size: 1.5rem;
  padding: 6px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  /* box-shadow: 5px 5px 5px rgb(190, 190, 190); */
  /* background-color: rgb(40, 69, 78); */
  color: rgb(255, 255, 255);
  transition: 0.3s;
  align-content: center;
  margin: auto;
  background-color: rgba(47, 146, 27, 0.904);
  color: white;
}

button:hover {
  background-color: rgb(21, 63, 13);
  cursor: pointer;
}

.shuffle-button {
  background-color: rgb(179, 65, 65);
  color: white;
}
.shuffle-button:hover {
  background-color: rgb(97, 35, 35);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .bar {
    width: 3.5px;
  }
}

@media screen and (max-width: 500px) {
  .bar {
    width: 2.5px;
  }
}
